li.dev-item {
  background:#1A202C;
  box-shadow: 0 0 14px 0 rgba(0, 0, 0, 0.2);
  border-radius: 2px;
  padding: 20px;
}

li.dev-item header {
  display: flex;
  flex-direction: row;
  align-items: center;
}

li.dev-item header img {
  width: 54px;
  height: 54px;
  border-radius: 50%;
}

li.dev-item header .user-info {
  margin-left: 10px;
}

.user-info strong {
  display: block;
  font-size: 16px;
  color: #FFFFFF;
}

.user-info span {
  font-size: 13px;
  color: #999;
  margin-top: 2px;
}

li.dev-item p {
  color: #666;
  font-size: 14px;
  line-height: 20px;
  margin: 10px 0;
}

li.dev-item a {
  color: #68D391;
  font-size: 14px;
  text-decoration: none;
}

li.dev-item a:hover {
  color: #56E64A;
}

.footer-card {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.footer-card img:nth-of-type(1) {
  padding-left: 140px;
}